<script>
  import TabPanel from "../components/TabPanel.svelte";
  import UploadSound from "../components/UploadSound.svelte";
  import ManageSound from "../components/ManageSound.svelte";
</script>

<style lang="scss">
  .container {
  }
</style>

<div class="container">
  <TabPanel
    componentMap={{ Upload: UploadSound, Manage: ManageSound }} />
</div>
