<script>
  import Tab, { Icon, Label } from "@smui/tab";
  import TabBar from "@smui/tab-bar";

  export let componentMap;

  let active = componentMap[0];
</script>

<style lang="scss">
  @import "../../theme/_smui-theme.scss";
  @import "@material/elevation/mdc-elevation";
  @import "@material/theme/mixins";

  .container {
    height: 100%;
    @include mdc-theme-prop(color, primary);
    @include mdc-elevation(4, primary);
  }

 @media (min-width: 50em) {
    .container {
      margin: 4em 25%;
    }
  }
</style>

<div class="container elevated">
  <TabBar tabs={Object.keys(componentMap)} let:tab bind:active>
    <!-- Notice that the `tab` property is required! -->
    <Tab {tab}>
      <Label>{tab}</Label>
    </Tab>
  </TabBar>
  <svelte:component this={componentMap[active]} />
</div>
