// Nothing here. Just use the default theme.
@import '@material/theme/color-palette';

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #01579b;
$mdc-theme-background: #e1e2e1;
$mdc-theme-surface: #f5f5f6;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-surface: #000000;
