<script>
  import ErrorPage from "./pages/ErrorPage.svelte";
  import Button, { Label, Icon } from "@smui/button";
  import { Router, Route, Link, navigateTo } from "yrv";
  import Login from "./pages/Login.svelte";
  import Dashboard from "./pages/Dashboard.svelte";
  import Redirect from "./pages/Redirect.svelte";
  import TopAppBar, {
    Row,
    Section,
    Title,
    FixedAdjust
  } from "@smui/top-app-bar";
  import { authStore, isLoggedIn } from "./stores.js";
import DiscordLink from "./components/DiscordLink.svelte";
</script>

<style type="text/scss">
  main {
    height: 100vh;
    width: 100vw;
  }
</style>

<TopAppBar>
  <Row>
    <Section>
      <Title>
        <Link reload class="link">EntrysoundBot</Link>
      </Title>
    </Section>
    {#if $isLoggedIn}
      <Section align="end">
        <Button
          variant="raised"
          color="secondary"
          on:click={() => {
            authStore.logout();
            navigateTo('/');
          }}>
          <Label>Logout</Label>
        </Button>
      </Section>
    {/if}
  </Row>
</TopAppBar>

<main use:FixedAdjust>
  <Router>
    <Route
      path="/"
      exact
      component={Login}
      condition={() => !$isLoggedIn}
      redirect="/protected" />
    <Route path="/redirect" component={Redirect} />
    <Route path="/unauthorized">
      <ErrorPage
        title="Unauthorized"
        subtitle="You are either not authorized to see this page or your
        authorization token has expired!" />
    </Route>
    <Route fallback>
      <ErrorPage
        title="Page not found"
        subtitle="The requested page could not be found!" />
    </Route>
  </Router>
  <Router path="/protected">
    {#if !$isLoggedIn}
      <Route redirect="/" />
    {:else}
      <Route exact redirect="/protected/dashboard" />
    {/if}
    <Route path="/dashboard" component={Dashboard} />
  </Router>

  <DiscordLink></DiscordLink>
</main>
